<div class="row" >
    <br>
    <div class="col s6 offset-s3">
            <div class="card">
                <br>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li ng-repeat="event in events | orderBy:compareDates">
                        <div class="collapsible-header"><i class="material-icons">add</i>{{event.name}}
                        </div>
                        <div class="collapsible-body "><p>{{event.description}} 
                        <br><br>                            
                        Start Date: {{event.start_date}}, End Date: {{event.end_date}}
                        <br><br>                            
                        <a href="#/posters/{{event.event_id}}" class="orange-text">See Poster Entries</a>      
                            </p>
                        </div>
                    </li>
                </ul>

                <br>
                <br>
                <form class="row" ng-submit="addEvent()">
                    <div class="row">
                        <div class="input-field col s6 offset-s1">
                            <i class="material-icons prefix">event</i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="name">
                            <label for="icon_prefix">Event Name</label>
                        </div> 
                        
                        <div class="input-field col s6 offset-s1">
                            <i class="material-icons prefix"></i>
                            <input id="start_date" type="text" class="datepicker" ng-model="start_date">
                            
                            <label for="start_date">Start Date</label>
                        </div> 
                        
                        <div class="input-field col s6 offset-s1">
                            <i class="material-icons prefix"></i>
                            <input id="end_date" type="text" class="datepicker" ng-model="end_date">
                            <label for="end_date">End Date</label>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">format_align_left</i>
                            <textarea id="textarea1" class="materialize-textarea" ng-model="description"></textarea>
                            <label for="textarea1">Description</label>
                        </div> 
                        
                        <div id="eventSubmit" align="center">
                            <button id="eventSubmit" type="submit" class="waves-effect waves-light orange btn">Submit</button>
                        </div>
                    </div>
                    
                </form>                    
                <br>
            </div>
    </div>
</div>  