<div class="slider">
    <ul class="slides">
        <li>
            <div class="container">
                <br><br><br>
                <h1 align="center" id="postrTitle">Postr</h1>
            </div>
        </li>

        <li>
            <div class="container">
                <div class="section">
                    <!-- Icon Section  -->
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">camera_enhance</i></h2>
                                <h5 class="center">Capture Images Of And Vote For Posters</h5>

                                <p class="light">By utilizing state of the art OCR technology. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum porttitor ex ut venenatis. Cras vel erat ac purus semper aliquet vitae eget ipsum. Vivamus eget arcu nec diam euismod efficitur. Mauris volutpat diam id dolor tincidunt, at ultrices velit auctor. Integer id ex a orci ullamcorper efficitur.</p>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
                                <h5 class="center">Determine The Most Popular Poster</h5>

                                <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum porttitor ex ut venenatis. Cras vel erat ac purus semper aliquet vitae eget ipsum. Vivamus eget arcu nec diam euismod efficitur. Mauris volutpat diam id dolor tincidunt, at ultrices velit auctor. Integer id ex a orci ullamcorper efficitur.</p>
                            </div>
                        </div>


                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">format_list_numbered</i></h2>
                            <h5 class="center">View The Leaderboard For Live Updates</h5>

                            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum porttitor ex ut venenatis. Cras vel erat ac purus semper aliquet vitae eget ipsum. Vivamus eget arcu nec diam euismod efficitur. Mauris volutpat diam id dolor tincidunt, at ultrices velit auctor. Integer id ex a orci ullamcorper efficitur. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <br>
            <div class="container">
                <div class="section">
                    <!-- Icon Section  -->
                    <div class="row">
                        <div class="col s12 m8">
                            <img src="/assets/img/conference2.png">
                        </div>

                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                                <h5 class="center">Easy to work with</h5>

                                <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum porttitor ex ut venenatis. Cras vel erat ac purus semper aliquet vitae eget ipsum. Vivamus eget arcu nec diam euismod efficitur. Mauris volutpat diam id dolor tincidunt, at ultrices velit auctor. Integer id ex a orci ullamcorper efficitur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </li>
    </ul>
</div>

<div class="row">
    <br>
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <form class="col s12">
                        <br><br>
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <input id="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>   

                        <div class="row">
                            <div align="center">
                                <a align="center" class="waves-effect waves-light orange btn">Login</a>
                            </div>
                        </div>   
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>